root = true

[*]
charset = utf-8
end_of_line = lf
max_line_width = 80
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{md,txt,json}]
max_line_width = off
trim_trailing_whitespace = false
