@use 'variables' as vars;
@use 'mixins' as mix;

html,
body {
  margin: 0;
}

html {
  font-size: vars.$font-size;
}

body {
  background: var(--body-background);
  color: var(--text-color);
  font-family: vars.$font-family;
  font-weight: vars.$font-weight;
  font-size: 100%;
}

:root,
:root.dark {
  @include mix.spread(vars.$theme-map-dark);
}

:root.light {
  @include mix.spread(vars.$theme-map-light);
}
